In [11]:
ds_kamisato = {
    "41": "タロウ", "42": "タロウ", "43": "タロウ", "44": "タロウ", "45": "タロウ", "46": "タロウ", 
    "47": "禁書", "48": "禁書", "49": "禁書", "50": "禁書", "51": "禁書", "52": "禁書",
    "53": "アリア", "54": "アリア", "81": "戦コレ", "82": "真牙狼", "83": "真牙狼", "84": "真牙狼", 
    "87": "乙女6", "88": "乙女6", "89": "物語2", "90": "物語2", "121": "モンキー",
    "125": "ギンパラ", "126": "ギンパラ", "127": "ガルパン", "128": "ガルパン", 
    "129": "信奈全国", "130": "信奈全国", "334": "轟音", "335": "轟音", "336": "轟音", "337": "轟音", 
    "405": "ゴルゴ", "406": "ゴルゴ", "401": "冬ソナ", "402": "冬ソナ", 
    "447": "超乱舞", "448": "超乱舞", "453": "決戦", "454": "決戦", "455": "決戦", "571": "決戦A", 
    "500": "Mキュン", "521": "HOTD", "525": "カグラ", "563": "TURBO", "616": "TURBO", 
    "576": "AKB桜", "567": "まどか", "611": "まどか", "579": "まわるん", "580": "金富士", "601": "999"
}
print(ds_kamisato)

{'41': 'タロウ', '42': 'タロウ', '43': 'タロウ', '44': 'タロウ', '45': 'タロウ', '46': 'タロウ', '47': '禁書', '48': '禁書', '49': '禁書', '50': '禁書', '51': '禁書', '52': '禁書', '53': 'アリア', '54': 'アリア', '81': '戦コレ', '82': '真牙狼', '83': '真牙狼', '84': '真牙狼', '87': '乙女6', '88': '乙女6', '89': '物語2', '90': '物語2', '121': 'モンキー', '125': 'ギンパラ', '126': 'ギンパラ', '127': 'ガルパン', '128': 'ガルパン', '129': '信奈全国', '130': '信奈全国', '334': '轟音', '335': '轟音', '336': '轟音', '337': '轟音', '405': 'ゴルゴ', '406': 'ゴルゴ', '401': '冬ソナ', '402': '冬ソナ', '447': '超乱舞', '448': '超乱舞', '453': '決戦', '454': '決戦', '455': '決戦', '571': '決戦A', '500': 'Mキュン', '521': 'HOTD', '525': 'カグラ', '563': 'TURBO', '616': 'TURBO', '576': 'AKB桜', '567': 'まどか', '611': 'まどか', '579': 'まわるん', '580': '金富士', '601': '999'}

In [37]:
ds_kuragano =  {
    "10": "まどか", "46": "999", "42": "決戦A", "51": "決戦A", "89": "AKB桜", "90": "AKB桜",
    "149": "超乱舞", "150": "超乱舞", "463": "TURBO", "474": "TURBO", "495": "TURBO"
}
print(ds_kuragano)

{'10': 'まどか', '46': '999', '42': '決戦A', '51': '決戦A', '89': 'AKB桜', '90': 'AKB桜', '149': '超乱舞', '150': '超乱舞', '463': 'TURBO', '474': 'TURBO', '495': 'TURBO'}

In [11]:
p = f"ds_kuragano.json"
with open(p, "r", encoding="utf-8") as f:
    read_dic = json.load(f)
print(read_dic)

{'10': 'まどか', '46': '999', '42': '決戦A', '51': '決戦A', '89': 'AKB桜', '90': 'AKB桜', '149': '超乱舞', '150': '超乱舞', '200': 'ギンパラ', '201': 'ギンパラ', '202': 'ギンパラ', '203': 'ギンパラ', '463': 'TURBO', '474': 'TURBO', '495': 'TURBO'}

In [4]:
import json
import datetime
import pandas as pd

def datestring():
    dt_now = datetime.datetime.now()
    oneday = datetime.timedelta(days=1)
    if dt_now.hour < 12: dt_now -= oneday
    yyyymmdd = dt_now.strftime('%Y-%m-%d')
    return yyyymmdd

In [2]:
# しょりするほーる
# hall = "kuragano"
hall = "kamisato"
print(hall)

kamisato

In [10]:
# きょうのでーた
yyyymmdd = datestring()
p = f"./ds_{hall}_works_{yyyymmdd}.json"
with open(p, "r", encoding="utf-8") as f:
    read_dic = json.load(f)

lst = [v for v in read_dic.values() if v[3] == "0"]
col = ["No", "machine", "date", "初当", "継続", "最終", "前日"]
today_df = pd.DataFrame(lst, columns=col)
today_df

     No machine         date 初当 継続   最終  前日
0    44     タロウ  08/08 00:06  0  0   98   0
1    54     アリア  08/08 00:16  0  0  119  29
2    82     真牙狼  08/08 00:18  0  0   45   0
3    83     真牙狼  08/08 00:20  0  0  203  15
4    88     乙女6  08/08 00:22  0  0    回  79
5    90     物語2  08/08 00:24  0  0   27  76
6   126    ギンパラ  08/08 00:27  0  0  198   0
7   334      轟音  08/08 00:33  0  0    0   0
8   335      轟音  08/08 00:34  0  0    0   0
9   336      轟音  08/08 00:35  0  0    0   0
10  337      轟音  08/08 00:36  0  0    0   0
11  401     冬ソナ  08/08 00:39  0  0    0   0
12  402     冬ソナ  08/08 00:40  0  0    0   0
13  448     超乱舞  08/08 00:43  0  0    0   1
14  453      決戦  08/08 00:44  0  0    0   0
15  454      決戦  08/08 00:45  0  0    0   0
16  455      決戦  08/08 00:46  0  0    0   0
17  521    HOTD  08/08 00:49  0  0    6   0
18  563   TURBO  08/08 00:51  0  0    0  5)

In [31]:
# しゅうせい
# today_df.drop(1, inplace=True)
# today_df.drop(6, inplace=True)
today_df.loc[0, "初当":"前日"] = [0,0,66,0]
today_df.loc[1, "初当":"前日"] = [0,0,0,20]
today_df.loc[2, "初当":"前日"] = [0,0,0,20]
today_df

    No machine         date 初当 継続  最終  前日
0  250     タロウ  08/03 02:11  0  0  66   0
1  266     タロウ  08/03 02:12  0  0   0  20
2  267     タロウ  08/03 02:13  0  0   0  20

In [11]:
# ぜんじつのでーた
dt_now = datetime.datetime.now()
oneday = datetime.timedelta(days=1)
if dt_now.hour < 12: dt_now -= oneday
dt_now -= oneday
yyyymmdd = dt_now.strftime('%Y-%m-%d')

p = f"./ds_{hall}_{yyyymmdd}.json"
with open(p, "r", encoding="utf-8") as f:
    read_dic = json.load(f)
pre_df = pd.DataFrame(read_dic.values())
pre_df.head(10)

    0    1            2  3  4    5    6
0  41  タロウ  08/05 22:27  0  0  242    0
1  41  タロウ  08/06 23:43  0  0   SS  242
2  45  タロウ  08/04 00:17  0  0    7
3  45  タロウ  08/05 02:24  0  0  126    7
4  45  タロウ  08/05 22:31  0  0   71  126
5  45  タロウ  08/06 23:47  0  0   91   71
6  46  タロウ  08/05 22:32  0  0    &   44
7  46  タロウ  08/06 23:48  0  0  138   B9
8  47   禁書  08/06 23:49  0  0  278  192
9  52   禁書  08/06 23:54  0  0  126   68

In [12]:
#　まーじ
lst = []
for row in today_df.itertuples():
    lst.append(list(row[1:]))
    lst += [list(r[1:]) for r in pre_df.itertuples() if row.No == r._1]
col = ["No", "machine", "date", "初当", "継続", "最終", "前日"]
merge_df = pd.DataFrame(lst, columns=col).sort_values(['No', 'date']).reset_index(drop=True)
merge_df.head(10)

   No machine         date 初当 継続   最終   前日
0  44     タロウ  08/08 00:06  0  0   98    0
1  54     アリア  08/05 22:41  0  0   28    0
2  54     アリア  08/06 23:56  0  0   29   28
3  54     アリア  08/08 00:16  0  0  119   29
4  82     真牙狼  08/08 00:18  0  0   45    0
5  83     真牙狼  08/05 02:36  0  0  180    1
6  83     真牙狼  08/05 22:44  0  0  164  180
7  83     真牙狼  08/06 23:59  0  0   15  164
8  83     真牙狼  08/08 00:20  0  0  203   15
9  88     乙女6  08/08 00:22  0  0    回   79

In [13]:
# ほぞん
yyyymmdd = datestring()
dic = {idx: list(row) for idx, row in merge_df.iterrows()}
read_json = json.dumps(dic, ensure_ascii=False)
p_w = f"./ds_{hall}_{yyyymmdd}.json"
with open(p_w, "w", encoding="utf-8") as f:
    f.write(read_json)
print(f"{p_w} saved")

./ds_kamisato_2021-08-07.json saved