In [6]:
import json
import datetime
import pandas as pd

In [4]:
ds_kamisato = {"5": "カバネリ", "6": "モンキー", "7": "アリア", "8": "アリア", "9": "アリア",
               "41": "タロウ", "42": "タロウ", "43": "タロウ", "44": "タロウ", "45": "タロウ", 
               "46": "タロウ", "47": "禁書", "48": "禁書", "49": "禁書", "50": "禁書", "51": "禁書", 
               "52": "禁書", "82": "戦コレ", "83": "ゴルゴ", "84": "ゴルゴ", "87": "乙女6", 
               "88": "乙女6", "89": "物語2", "90": "物語2", "125": "ギンパラ", "126": "ギンパラ", 
               "127": "ガルパン", "128": "ガルパン", "129": "信奈全国", "130": "信奈全国", 
               "334": "轟音", "335": "轟音", "336": "轟音", "337": "轟音", "401": "冬ソナ", 
               "402": "冬ソナ", "447": "超乱舞", "448": "超乱舞", "453": "決戦", "454": "決戦", 
               "455": "決戦", "571": "決戦A", "521": "HOTD", "522": "クィーン", "525": "カグラ", 
               "563": "TURBO", "616": "TURBO", "578": "AKB桜", "567": "まどか", "611": "まどか", 
               "601": "999"}
print(ds_kamisato)

{'5': 'カバネリ', '6': 'モンキー', '7': 'アリア', '8': 'アリア', '9': 'アリア', '41': 'タロウ', '42': 'タロウ', '43': 'タロウ', '44': 'タロウ', '45': 'タロウ', '46': 'タロウ', '47': '禁書', '48': '禁書', '49': '禁書', '50': '禁書', '51': '禁書', '52': '禁書', '82': '戦コレ', '83': 'ゴルゴ', '84': 'ゴルゴ', '87': '乙女6', '88': '乙女6', '89': '物語2', '90': '物語2', '125': 'ギンパラ', '126': 'ギンパラ', '127': 'ガルパン', '128': 'ガルパン', '129': '信奈全国', '130': '信奈全国', '334': '轟音', '335': '轟音', '336': '轟音', '337': '轟音', '401': '冬ソナ', '402': '冬ソナ', '447': '超乱舞', '448': '超乱舞', '453': '決戦', '454': '決戦', '455': '決戦', '571': '決戦A', '521': 'HOTD', '522': 'クィーン', '525': 'カグラ', '563': 'TURBO', '616': 'TURBO', '578': 'AKB桜', '567': 'まどか', '611': 'まどか', '601': '999'}

In [12]:
ds_kuragano =  {"10": "まどか", "46": "999", "42": "決戦A", "51": "決戦A", "89": "AKB桜", "90": "AKB桜",
                "149": "超乱舞", "150": "超乱舞",
                "200": "ギンパラ", "201": "ギンパラ","202": "ギンパラ","203": "ギンパラ",
                "463": "TURBO", "474": "TURBO", "495": "TURBO"
               }
ds_kuragano = {"250": "タロウ", "266": "タロウ", "267": "タロウ", "268": "タロウ", "269": "タロウ"}
print(ds_kuragano)

{'250': 'タロウ', '266': 'タロウ', '267': 'タロウ', '268': 'タロウ', '269': 'タロウ'}

In [11]:
p = f"ds_kuragano.json"
with open(p, "r", encoding="utf-8") as f:
    read_dic = json.load(f)
print(read_dic)

{'10': 'まどか', '46': '999', '42': '決戦A', '51': '決戦A', '89': 'AKB桜', '90': 'AKB桜', '149': '超乱舞', '150': '超乱舞', '200': 'ギンパラ', '201': 'ギンパラ', '202': 'ギンパラ', '203': 'ギンパラ', '463': 'TURBO', '474': 'TURBO', '495': 'TURBO'}

In [7]:
def datestring():
    dt_now = datetime.datetime.now()
    oneday = datetime.timedelta(days=1)
    if dt_now.hour < 12: dt_now -= oneday
    yyyymmdd = dt_now.strftime('%Y-%m-%d')
    return yyyymmdd

In [15]:
# しょりするほーる
hall = "kuragano"
# hall = "kamisato"
print(hall)

kuragano

In [30]:
# きょうのでーた
yyyymmdd = datestring()
p = f"./ds_{hall}_works_{yyyymmdd}.json"
with open(p, "r", encoding="utf-8") as f:
    read_dic = json.load(f)

lst = [v for v in read_dic.values() if v[3] == "0"]
col = ["No", "machine", "date", "初当", "継続", "最終", "前日"]
today_df = pd.DataFrame(lst, columns=col)
today_df

    No machine         date 初当 継続  最終      前日
0  250     タロウ  08/03 02:11  0  0  66
1  266     タロウ  08/03 02:12  0         20\nrm
2  267     タロウ  08/03 02:13  0             20

In [31]:
# しゅうせい
# today_df.drop(1, inplace=True)
# today_df.drop(6, inplace=True)
today_df.loc[0, "初当":"前日"] = [0,0,66,0]
today_df.loc[1, "初当":"前日"] = [0,0,0,20]
today_df.loc[2, "初当":"前日"] = [0,0,0,20]
today_df

    No machine         date 初当 継続  最終  前日
0  250     タロウ  08/03 02:11  0  0  66   0
1  266     タロウ  08/03 02:12  0  0   0  20
2  267     タロウ  08/03 02:13  0  0   0  20

In [ ]:
# ぜんじつのでーた
dt_now = datetime.datetime.now()
oneday = datetime.timedelta(days=1)
if dt_now.hour < 12: dt_now -= oneday
dt_now -= oneday
yyyymmdd = dt_now.strftime('%Y-%m-%d')

p = f"./ds_{hall}_{yyyymmdd}.json"
with open(p, "r", encoding="utf-8") as f:
    read_dic = json.load(f)
pre_df = pd.DataFrame(read_dic.values())
pre_df.head(10)

In [ ]:
#　まーじ
lst = []
for row in today_df.itertuples():
    lst.append(list(row[1:]))
    lst += [list(r[1:]) for r in pre_df.itertuples() if row.No == r._1]
col = ["No", "machine", "date", "初当", "継続", "最終", "前日"]
merge_df = pd.DataFrame(lst, columns=col).sort_values(['No', 'date']).reset_index(drop=True)
merge_df.head(10)

In [34]:
# ほぞん
yyyymmdd = datestring()
dic = {idx: list(row) for idx, row in merge_df.iterrows()}
read_json = json.dumps(dic, ensure_ascii=False)
p_w = f"./ds_{hall}_{yyyymmdd}.json"
with open(p_w, "w", encoding="utf-8") as f:
    f.write(read_json)